<div class="cards-container__grid">
    <div class="photo">
        <ita-cards-content-image></ita-cards-content-image>
    </div>
    <div class="video">
        <ita-cards-content-video></ita-cards-content-video>
    </div>
    <div class="music">
        <ita-cards-content-audio></ita-cards-content-audio>
    </div>
    <div class="photo">
        <ita-cards-content-image></ita-cards-content-image>
    </div>
    <div class="video">
        <ita-cards-content-video></ita-cards-content-video>
    </div>
    <div class="music">
        <ita-cards-content-audio></ita-cards-content-audio>
    </div>
    <div class="photo">
        <ita-cards-content-image></ita-cards-content-image>
    </div>
    <div class="music">
        <ita-cards-content-audio></ita-cards-content-audio>
    </div>
    <div class="photo">
        <ita-cards-content-image></ita-cards-content-image>
    </div>
    <div class="music">
        <ita-cards-content-audio></ita-cards-content-audio>
    </div>

    <div class="video">
        <ita-cards-content-video></ita-cards-content-video>
    </div>
    <div class="video">
        <ita-cards-content-video></ita-cards-content-video>
    </div>
    <div class="blog"><ita-cards-content-text></ita-cards-content-text></div>
</div>
