.cards-container__grid {
    margin: 0 auto;
    border: none;
    display: grid;
    grid-gap: calc(20px) 10px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: 5px;
    height: 100%;
    min-width: 70vw;
    max-width: 90vw;
}

.video {
    grid-row-end: span 12;
    width: 100%;
}
.image {
    width: 100%;
    grid-row-end: span 15;
}
.audio {
    width: 100%;
    grid-row-end: span 9;
}
.text {
    width: 100%;
    grid-row-end: span 14;
}

@media screen and (max-width: 1024px) {
    .cards-container__grid {
        width: 80vw;
        margin-left: 15vw;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
}
