<div class="cards-container__grid">
    <div class="video">
        
    </div>
   <div class="photo"> </div>
   <div class="video"></div>
   <div class="video"></div>
   <div class="blog"></div>
   <div class="photo"> </div>
   <div class="video"></div>
   <div class="photo"> </div>
   <div class="video"></div>
   <div class="blog"></div>
   <div class="photo"> </div>
   <div class="video"></div>
   <div class="photo"> </div>
   <div class="photo"> </div>
   <div class="blog"></div>
   <div class="video"></div>
   <div class="photo"> </div>
</div>
