<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked"
                    >Реакция собак на разрезание торта в виде
                    собаки</mat-checkbox
                >
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            ><iframe
                src="https://www.youtube.com/embed/7VOCWIC15bI  "
                frameborder="0"
                allowfullscreen
            ></iframe>
            <p>
                Реакция собак на разрезание торта в виде собаки
            </p>
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked">Animals world</mat-checkbox>
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
            <iframe
                src="https://www.youtube.com/embed/vU09wQerc54"
                frameborder="0"
                allowfullscreen
            ></iframe>
            <p>
                Very amazing animals world!
            </p>
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
