.admin-container {
    display: flex;
}

.users-container {
    background-color: white;
    width: 50vw;
    height: 100vh;
}
.users {
    overflow: auto;
    height: 93.3vh;
}

.content-container {
    background-color: white;
    width: 50vw;
    height: 100vh;
}
.content {
    overflow: auto;
    height: 93.3vh;
}

.icons:hover {
    color: #ff4081;
}
