.mat-checkbox {
  margin: 0 10px;
}
.mat-form-field {
  font-size: 18px;
  display: block;
}
.mat-card-actions {
  text-align: center;
}
.mat-raised-button {
  font-size: 18px;
}
.custom-file-input::before {
  content: 'Upload avatar';
  display: inline-block;
  background: #ff4081;
  color: white;
  padding: 8px;
  -webkit-user-select: none;
  cursor: pointer;
  margin-left: 60px;
}
#upload {
  visibility: hidden
}
.profile {
  width: 90%;
  margin: 0 auto 100px;
  padding-bottom: 40px;
}
.profile__delete {
  text-align: right;
}
.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.profile__avatar {
  display: flex;
  flex-direction: column;
}
.profile__user-settings {
  //margin-left: 100px;
  width: 60%;
  margin: 10px auto;
}
.profile__user-settings > * {
  width: 35%;
  margin-right: 25px;
}
.profile__user-name {
  color: #ff4081;
  font-size: 18px;
  font-weight: 600;
  margin: 15px;
}
.mat-dialog-button {
  text-align: center;
}
image-cropper {
  height: 400px;
}

