<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Sergio Sergeevich Myshulin
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>

<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Serg Sta
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Kyrylo Yaremchuk
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>

<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Sergio Sergeevich Myshulin
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>

<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Serg Sta
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Kyrylo Yaremchuk
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>

<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Sergio Sergeevich Myshulin
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>

<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Serg Sta
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Kyrylo Yaremchuk
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Sergio Sergeevich Myshulin
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>

<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Serg Sta
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Kyrylo Yaremchuk
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Sergio Sergeevich Myshulin
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>

<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Serg Sta
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="user">
    <div class="user-name">
        <mat-checkbox class="user__checked"></mat-checkbox>
        <button
            class="user__options"
            mat-icon-button
            [matMenuTriggerFor]="menu"
        >
            Kyrylo Yaremchuk
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon class="icons">block</mat-icon><span>Ban user</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">warning</mat-icon>
                <span>Send a warning</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">show_chart</mat-icon
                ><span>View users statistics</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="icons">delete</mat-icon
                ><span>Delete user</span>
            </button>
        </mat-menu>
    </div>
    <div class="user-icons">
        <mat-icon class="icons">delete</mat-icon>
        <mat-icon class="icons">edit</mat-icon>
    </div>
</mat-card>
<mat-divider></mat-divider>
