.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user__checked {
    margin-left: 1vw;
    margin-right: 1vw;
}
.icons {
    cursor: pointer;
}
.icons:hover {
    color: #ff4081;
}
.user__options:hover {
    color: #ff4081;
}
