<mat-toolbar color="white" class="example-toolbar">
  <div class="header__heading">
    <h1 class="example-app-name">ITaka</h1>
  </div>
  <div class="header__search">
    <mat-icon>search</mat-icon>
    <input placeholder="Search" />
  </div>
  <div class="header__user-tools">
    <div class="header__user-buttons">
      <button
        mat-icon-button
        color="accent"
        matRipple="disabled"
        aria-label="Add content header button"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <div class="header__user-info">
      <button mat-flat-button color="accent">Log in</button>
    </div>
  </div>
</mat-toolbar>
