.card__buttons {
    display: flex;
    justify-content: space-between;
}
.card__buttons--delete {
    align-self: flex-end;
}
.mat-icon-button:hover {
    color: lightgrey;
}

.mat-icon-button:hover {
    color: #ff4081;
}
