<div class="card__buttons">
    <div>
        <button mat-icon-button>
            <mat-icon>thumb_up_alt</mat-icon>
        </button>
        <span>0</span>
        <button mat-icon-button>
            <mat-icon>thumb_down_alt</mat-icon>
        </button>
        <span>0</span>
    </div>
    <div
        class="card__buttons--delete"
        *ngIf="isUserPage()"
        (click)="deleteContent(postId)"
    >
        <button mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
