<mat-card>  
    <i class="material-icons">
       music_video
    </i>
  
  <audio  controls>
    <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mp3">
    Your browser does not support the audio tag.
  </audio>

  <mat-card-title>
    <hr>
      The title of the audioThe title of the audioThe title of the audioThe title of the audioThe title of the audioThe title of the audio
  </mat-card-title>

  <button mat-icon-button>
      <div class="points">...</div>
  </button>

</mat-card>