.card__audio {
    // background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mat-card-title {
    padding-top: 1vh;
    font-size: 18px;
}
.music__icon {
    transform: scale(2);
    margin-bottom: 1vh;
}
.more__icon {
    align-self: flex-end;
}
