.card__audio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mat-card-title {
    padding-top: 3vh;
    font-size: 18px;
    text-transform: uppercase;
}
.music__icon {
    transform: scale(2);
    margin-bottom: 1vh;
}
.card__audio--palyer {
    outline: none;
}
.card__audio--icons {
    width: 100%;
}
