<mat-card class="card__audio">
    <div class="music__icon">
        <mat-icon>music_video</mat-icon>
    </div>

    <audio controls class="card__audio--palyer">
        <source [src]="url" type="audio/mp3" />
        Your browser does not support the audio tag.
    </audio>

    <mat-card-title>
        {{  userId }}
        {{ userId}}
    </mat-card-title>
    <div class="container-icon">
        <div class="container-icon-likes">
            <mat-icon class="more__icon--like">thumb_up_alt</mat-icon>
            <span>{{count}}</span>
        </div>
        <button mat-icon-button class="more__icon" 
        [routerLink]="['/cardDetail', postId]"
        (click) = "getPostId (this.postId)"
        >
            <mat-icon>more_horiz</mat-icon>
        </button>
    </div>
</mat-card>
