<mat-card class="card__audio">
    <div class="music__icon">
        <mat-icon>music_video</mat-icon>
    </div>

    <audio controls class="card__audio--palyer">
        <source
            src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3"
            type="audio/mp3"
        />
        Your browser does not support the audio tag.
    </audio>

    <mat-card-title>
        The title of the audio
    </mat-card-title>
    <button mat-icon-button class="more__icon">
        <mat-icon>more_horiz</mat-icon>
    </button>
</mat-card>
