.card__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
}
.mat-card-title {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}
.mat-card-image {
    width: 110%;
    height: 305px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.card__image--icons {
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .mat-card-image {
        width: 110%;
    }
}
