.card__image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more__icon {
    align-self: flex-end;
}
.mat-card-title {
    font-size: 18px;
    text-transform: uppercase;
}
.mat-card-image {
    width: 305px;
    height: 255px;
}
