<mat-sidenav-container>
  <mat-sidenav-content class="main__content-container">
    <app-sidebar></app-sidebar>
    <main class="main__content-grid">
      <div class="blog"></div>
      <div class="blog"></div>
      <div class="blog"></div>
      <div class="music"></div>
      <div class="music"></div>
      <div class="music"></div>
      <div class="text"></div>
      <div class="text"></div>
      <div class="text"></div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="photo"></div>
      <div class="text"></div>
      <div class="text"></div>
      <div class="music"></div>
      <div class="music"></div>
      <div class="music"></div>
      <div class="music"></div>
      <div class="music"></div>
      <div class="blog"></div>
      <div class="blog"></div>
    </main>
    <aside class="main__add-button">
      <button
        color="white"
        mat-mini-fab
        aria-label="Example icon-button with a heart icon"
        matTooltip="Add content"
        matTooltipPosition="left"
        class="add_circle_outline"
      >
        <mat-icon color="accent">add</mat-icon>
      </button>
    </aside>
  </mat-sidenav-content>
</mat-sidenav-container>
