<div class="container">
    <div class="text-editor__wrapper ">
        <div class="text-editor__form">
            <mat-form-field required color="accent" class="text-editor__title">
                <input
                    matInput
                    placeholder="Title"
                    type="text"
                    [(ngModel)]="title"
                    required
                    (change)="write($event)"
                />
            </mat-form-field>

            <ckeditor
                [editor]="Editor"
                [config]="config"
                [(ngModel)]="description"
                (change)="onChange($event)"
            ></ckeditor>
            <button
                class="text-editor__button"
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="disabled"
                (click)="
                    startUpload({
                        title: title,
                        description: description
                    })
                "
            >
                Send
            </button>
        </div>
    </div>
</div>
