.text-editor__title {
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.text-editor__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: stretch;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}
.text-editor__button {
    margin: 15px 0;
    width: 25%;
    align-self: center;
}

.text-editor__form {
    display: flex;
    flex-direction: column;
}
