.main__side-navigation {
    position: fixed;
    display: flex;
    left: 0;
    top: 70px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 70px;
    height: 500px;
}
.sidebar__button--base {
    color: lightgrey;
}
.sidebar__button:hover {
    color: #ff4081;
}
.sidebar__button:focus {
    color: #ff4081;
}
.sidebar__button--selected {
    color: #ff4081;
}
