<aside class="main__side-navigation" *ngIf="router.url !== '/admin'">
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="Hot"
        matTooltip="Hot content"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon class="sidebar__button sidebar__button--base"
            >whatshot</mat-icon
        >
    </button>
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="open music"
        matTooltip="Music"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon class="sidebar__button sidebar__button--base"
            >library_music</mat-icon
        >
    </button>
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="open videos"
        matTooltip="Video"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon class="sidebar__button sidebar__button--base"
            >video_library</mat-icon
        >
    </button>
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="open pictures"
        matTooltip="Pictures"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon class="sidebar__button sidebar__button--base"
            >collections</mat-icon
        >
    </button>
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="open poetry"
        matTooltip="Poetry"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon class="sidebar__button sidebar__button--base"
            >text_fields</mat-icon
        >
    </button>
    <button
        color="white"
        mat-mini-fab
        aria-label="Add content button"
        matTooltip="Add content"
        matTooltipPosition="left"
        class="add_circle_outline"
    >
        <mat-icon color="accent">add</mat-icon>
    </button>
</aside>
