<aside class="main__side-navigation" *ngIf="isAdminPage()">
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="Hot"
        matTooltip="Hot content"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon [ngClass]="{'sidebar__button--selected': isActive('')}" class="sidebar__button sidebar__button--base" (click)="filterByContent('')"
            >whatshot</mat-icon
        >
    </button>
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="open music"
        matTooltip="Music"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon [ngClass]="{'sidebar__button--selected': isActive('audio')}" class="sidebar__button sidebar__button--base" (click)="filterByContent('audio')"
            >library_music</mat-icon
        >
    </button>
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="open videos"
        matTooltip="Video"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon [ngClass]="{'sidebar__button--selected': isActive('video')}" class="sidebar__button sidebar__button--base" (click)="filterByContent('video')"
            >video_library</mat-icon
        >
    </button>
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="open pictures"
        matTooltip="Pictures"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon [ngClass]="{'sidebar__button--selected': isActive('image')}" class="sidebar__button sidebar__button--base" (click)="filterByContent('image')"
            >collections</mat-icon
        >
    </button>
    <button
        color="white"
        mat-mini-fab
        matRipple="disabled"
        aria-label="open poetry"
        matTooltip="Poetry"
        matTooltipPosition="right"
        class="add_circle_outline"
    >
        <mat-icon [ngClass]="{'sidebar__button--selected': isActive('text')}" class="sidebar__button sidebar__button--base" (click)="filterByContent('text')"
            >text_fields</mat-icon
        >
    </button>
    <button
        [matMenuTriggerFor]="menu"
        color="white"
        mat-mini-fab
        aria-label="Add content button"
        matTooltip="Add content"
        matTooltipPosition="left"
        class="add_circle_outline"
    >
        <mat-icon color="accent">add</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="after" class="sidebar__menu">
        <button mat-menu-item [routerLink]="['/addText']">
            <mat-icon>receipt</mat-icon>
            <span>Text</span>
        </button>
        <button mat-menu-item [routerLink]="['/uploadMedia']">
            <mat-icon>color_lens</mat-icon>
            <span>Media</span>
        </button>
    </mat-menu>
</aside>
