<div class="container">
    <mat-card class="card card-content-detail ">
        <mat-card-header>
            <img *ngIf="!!ava" mat-card-avatar [src]="ava" />
            <h3 class="card__user-name">{{ name }}</h3>
        </mat-card-header>
        <mat-card-title>
            {{ media.title }}
        </mat-card-title>
        <div
            class="content-page__content"
            *ngIf="!!media.contentType"
            [ngSwitch]="media.contentType"
        >
            <div *ngSwitchCase="'image'">
                <img
                    mat-card-image
                    [src]="media.url"
                    alt="picture"
                    class="content-page__picture"
                />
                <p class="content-page__content-description">
                    {{ media.description }}
                </p>
            </div>
            <div *ngSwitchCase="'audio'">
                <audio controls>
                    <source [src]="media.url" type="audio/mp3" />
                </audio>
                <p class="content-page__content-description">
                    {{ description }}
                </p>
            </div>

            <div *ngSwitchCase="'video'">
                <div class="responsive-video">
                    <mat-video
                        class="responsive-video1"
                        [download]="true"
                        allowfullscreen
                        color="accent"
                    >
                        <source
                            matVideoSource
                            [src]="media.url"
                            type="video/mp4"
                        />
                    </mat-video>
                </div>
                <p class="content-page__content-description">
                    {{ description }}
                </p>
            </div>
            <div *ngSwitchCase="'text'" class="content-page__text-content">
                <mat-card-content
                    [innerHtml]="media.description"
                ></mat-card-content>
                <button
                    mat-icon-button
                    color="accent"
                    matTooltipPosition="above"
                    (click)="getEditor()"
                    *ngIf="isUserContent()"
                >
                    <mat-icon>build</mat-icon>
                    Edit
                </button>
                <div *ngIf="condition">
                    <ita-text-editor> </ita-text-editor>
                </div>
            </div>
            <div *ngSwitchDefault><mat-spinner></mat-spinner></div>
        </div>
        <mat-card-actions class="card__buttons">
            <button
                mat-icon-button
                [color]="userColorL"
                matTooltip="Like"
                matTooltipPosition="above"
                (click)="onLike()"
            >
                <mat-icon>thumb_up_alt</mat-icon>
            </button>
            <span>{{ counterLike }}</span>
            <button
                mat-icon-button
                [color]="userColorD"
                matTooltip="Dislike"
                matTooltipPosition="above"
                (click)="onDisLike()"
            >
                <mat-icon>thumb_down_alt</mat-icon>
            </button>
            <span>{{ counterDisl }}</span>
            <button
                mat-icon-button
                color="base"
                [matTooltip]="isComment ? 'Hide' : 'Show'"
                matTooltipPosition="above"
                (click)="commentView()"
            >
                <mat-icon>comments</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <ng-container *ngIf="comments && isComment">
        <ng-container *ngFor="let comment of comments">
            <mat-card class="comment-container" *ngIf="comment.userProfile">
                <mat-card-header>
                    <img
                        mat-card-avatar
                        alt="User avatar"
                        [src]="
                            comment.userProfile
                                ? comment.userProfile.avatar
                                : defaultImage
                        "
                    />
                    <mat-card-title>{{
                        comment.userProfile.name
                    }}</mat-card-title>
                    <mat-card-subtitle *ngIf="comment.userId === userId"
                        >Author</mat-card-subtitle
                    >
                    <mat-card-subtitle
                        *ngIf="
                            comment.userId === currentUserId &&
                            comment.userId !== userId
                        "
                        >You
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="comment-container_content-card">
                    <p [innerText]="comment.text"></p>
                    <time class="right" datetime="date">{{
                        comment.date
                    }}</time>
                </mat-card-content>
                <mat-card-actions class="comment-card">
                    <button
                        *ngIf="currentUserId === comment.userId"
                        mat-icon-button
                        color="base"
                        matTooltip="Delete"
                        matTooltipPosition="above"
                        (click)="onDelete(comment)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="currentUserId">
        <div *ngIf="currentUserProfile">
            <mat-card class="comment-container comment-container__margintop">
                <mat-card-header>
                    <img
                        mat-card-avatar
                        alt="User avatar"
                        [src]="
                            currentUserProfile
                                ? currentUserProfile.avatar
                                : defaultImage
                        "
                    />
                    <mat-card-title>{{
                        currentUserProfile.name
                    }}</mat-card-title
                    ><mat-card-subtitle>You</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="comment-container_content-card">
                    <mat-form-field
                        class="comment-container_content-card__size"
                        color="accent"
                    >
                        <textarea
                            #message
                            matInput
                            cdkTextareaAutosize
                            cdkAutosizeMaxRows="5"
                            maxlength="400"
                            placeholder="Send your message"
                            [formControl]="commentFC"
                        ></textarea>
                        <mat-hint align="start"
                            ><strong>everybody can see this text</strong>
                        </mat-hint>
                        <mat-hint align="end"
                            >{{ message.value.length }} / 400</mat-hint
                        >
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions class="comment-card">
                    <button
                        mat-button
                        (click)="onSend()"
                        [disabled]="!commentFC.valid"
                    >
                        Send
                    </button>
                    <button
                        mat-button
                        matTooltip="Clear text"
                        matTooltipPosition="above"
                        [disabled]="!commentFC.valid"
                        (click)="onCancel()"
                    >
                        Cancel
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>
</div>
