.card-content-detail {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card__buttons {
    align-self: flex-end;
}
.content-page__title {
    font-size: 3rem;
    color: rgb(110, 110, 110);
    text-transform: capitalize;
}
.content-page__content {
    width: 900px;
    display: flex;
    justify-content: center;
}
.content-page__content > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mat-card-image {
    margin-top: 10px;
    width: 100%;
}

.content-page__text-content > mat-card-content {
    text-align: unset;
    display: block;
}
mat-card-header {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card__user-name {
    align-self: flex-end;
    font-weight: 100;
    font-size: 0.9rem;
    color: lightgrey;
}
