.card-content-detail {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card__buttons {
    align-self: flex-end;
}
.content-page__title {
    font-size: 3rem;
    color: rgb(110, 110, 110);
    text-transform: capitalize;
}
.content-page__content {
    width: 90%;
    display: flex;
    justify-content: center;
}
.content-page__content > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mat-card-image {
    margin-top: 10px;
    width: 100%;
}

.content-page__text-content > mat-card-content {
    text-align: unset;
    display: block;
}

.comment-container {
    width: 95%;
    margin: 0.1em 0;
    font-family: 'Montserrat', sans-serif;

    .comment-container_content-card {
        margin: 0;
        padding: 0;

        .right {
            float: right;
        }

        p {
            word-break: break-all;
            text-align: center;
            padding: 0.2em;
        }
    }

    .comment-container_content-card__size {
        width: 100%;
    }
}
.comment-container__margintop {
    margin-top: 0.5em;
    background-color: #eeeeee;
}
.mat-icon-button:hover {
    color: #ff4081;
}
