<div class="container">
    <mat-card class="card card-content-detail ">
        <mat-card-header>
            <img
                mat-card-avatar
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu"
            />
            <mat-card-subtitle>Author</mat-card-subtitle>
            <mat-card-title>      
                {{ media.title }}
            </mat-card-title
            >
        </mat-card-header>
        <div class="content-page__content">
            <div *ngIf="media.contentType == 'image'">
                <img
                    mat-card-image
                    [src]="url"
                    alt="picture"
                    class="content-page__picture"
                />
                <p class="content-page__content-description">
                  {{media.description}}
                </p>
            </div>
            <div *ngIf="media.contentType == 'audio'">
                <audio controls>
                    <source [src]="url" type="audio/mp3" />
                </audio>
                <p class="content-page__content-description">
                    {{ description }}
                </p>
            </div>

            <div *ngIf="media.contentType == 'video'">
                <div>
                    <iframe
                        class="responsive-video1"
                        [src]="url"
                        allowfullscreen
                    ></iframe>
                </div>
                <p class="content-page__content-description">
                    {{ description }}
                </p>
            </div>

            <div
                *ngIf="media.contentType == 'text'"
                [innerHTML]="description"
                class="content-page__text-content"
            ></div>
        </div>
        <mat-card-actions class="card__buttons">
            <button
                mat-icon-button
                color="accent"
                matTooltip="Like"
                matTooltipPosition="above"
                (click) = "onLike()"
            >
                <mat-icon>thumb_up_alt</mat-icon>
            </button>
            <span>{{counterLike}}</span>
            <button
                mat-icon-button
                color="base"
                matTooltip="Dislike"
                matTooltipPosition="above"
                (click) = "onDisLike()"
            >
                <mat-icon>thumb_down_alt</mat-icon>
            </button>
            <span>{{counterDisl}}</span>
            <button
                mat-icon-button
                color="base"
                matTooltip="Share"
                matTooltipPosition="above"
            >
                <mat-icon>send</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
