<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked">Kind Dog</mat-checkbox>
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            ><img
                class="image"
                mat-card-image
                src="https://is.gd/pcNA7b"
                alt="Photo of a Shiba Inu"
            />
            <p>
                The Golden Retriever is a large-sized gun dog that retrieves
                shot waterfowl, such as ducks and upland game birds, during
                hunting and shooting parties. The name "retriever" refers to the
                breed's ability to retrieve shot game undamaged due to their
                soft mouth. Golden retrievers have an instinctive love of water,
                and are easy to train to basic or advanced obedience standards.
            </p>
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked"
                    >Man with flowers</mat-checkbox
                >
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            ><img
                class="image"
                mat-card-image
                src="https://is.gd/ChCI5o"
                alt="Photo of a Shiba Inu"
            />
            <p>
                When it comes to Father's Day - there's a belief that Dads are
                more excited by a bottle of whisky or a piece of technology.
                “Nonsense!” say these fine specimens of manhood. “Flowers
                inspire, make a house a home and also smell great.” We talked to
                three different dads who each have a special bond with flowers
                in their own way.
            </p>
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
