.audio-progress-bar {
    &.mat-progress-bar {
        height: 20px;
    }
}

a{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #ff4081;
    box-shadow: 0 -3px rgba(255, 64, 129, 0.8) inset;
    transition: 0.2s;
} 
    a:hover { background: rgba(255, 64, 129, 0.8); }
    a:active {
        background: #ff4081;
        box-shadow: 0 3px rgba(255, 64, 129, 0.8) inset;
}