<mat-grid-list cols="1">
    <mat-grid-tile>
        <div class="mat-figure">
            <div>
                <span>404</span>
            </div>
            <div>
                <span>NOT FOUND</span>
            </div>
            <a [routerLink]="['']">
                <span class="material-icons md-36">home</span>Home page</a
            >
            <a [routerLink]="['/login']">
                <span class="material-icons md-36">input </span><span>Login page</span></a
            >
        </div>
    </mat-grid-tile>
</mat-grid-list>
