<div class="container">
    <div class="user-container">
        <div class="user__info">
            <div class="user__avatar">
                <img [src]="url || defaultImage" alt="avatar" width="75" />
            </div>
            <div class="user__name">
                <span>{{ name }}</span>
            </div>
            <div class="user__edit">
                <a [routerLink]="['/editProfile']">
                    <mat-icon class="icons">edit</mat-icon
                    ><span>Edit Profile</span>
                </a>
            </div>
        </div>
    </div>
    <ita-user-cards-container></ita-user-cards-container>
</div>
