 /* .mat-card {
    height: 400px;
    overflow: hidden;
} */
.mat-card-content {
    overflow: hidden;
    height: 350px;
}

.mat-card-title {
    text-align: center; 
    height: 50px;
    vertical-align: center;
} 