.card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
}
.mat-card-title {
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
}
.mat-card-content {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
    -moz-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none;
    -webkit-touch-callout: none; 
}
.card__text--icons {
    width: 100%;
}
