<mat-card class="card__text">
    <mat-card-title>
        {{ title }}
    </mat-card-title>
    <mat-card-content>
        {{ description }}
    </mat-card-content>
    <div class="card__text--icons">
        <div>
            <button mat-icon-button>
                <mat-icon>thumb_up_alt</mat-icon>
            </button>
            <span>0</span>
            <button mat-icon-button>
                <mat-icon>thumb_down_alt</mat-icon>
            </button>
            <span>0</span>
        </div>
        <div>
            <button mat-icon-button>
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
