/* .mat-card {
    height: 400px;
    overflow: hidden;
} */
.mat-card-content {
    overflow: auto;
    height: 349px;
}

.mat-card-title {
    text-align: center;
    vertical-align: center;
    overflow-y: hidden;
    height: 67px;
    margin: 0;
    font-size: 16px;
    padding-bottom: 5px;
}
.mat-icon-button {
    height: 32px;
    width: 32px;
    position: relative;
    bottom: 16px;
    left: 16px;
    float: right;  
    
}
.points {
    position: relative;
    bottom: 8px;
    height: 32px;
    width: 32px;
    font-size: 18px;
    font-weight: 900;
}