.card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mat-card-title {
    font-size: 18px;
    text-transform: uppercase;
}
.card__text--icons {
    width: 100%;
}
