<mat-accordion
    ><mat-expansion-panel
        ><mat-expansion-panel-header
            ><mat-panel-title
                ><mat-checkbox class="blog__checked">Стих о любви</mat-checkbox
                ><mat-icon class="icons">delete</mat-icon></mat-panel-title
            ></mat-expansion-panel-header
        >
        <mat-card-content
            >Хочу всю жизнь тебя любить, О грусти навсегда забыть. Ведь счастье
            — только лишь с тобой, Любви не нужно мне иной. Хочу обнять тебя
            скорей, Ведь в мире нет тебя нежней. И больше нет прекрасных слов,
            Чтоб выразить мою любовь.
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
<mat-accordion
    ><mat-expansion-panel
        ><mat-expansion-panel-header
            ><mat-panel-title
                ><mat-checkbox class="blog__checked"
                    >Любовь о стихе</mat-checkbox
                >
                <mat-icon class="icons">delete</mat-icon></mat-panel-title
            ></mat-expansion-panel-header
        >
        <mat-card-content
            >Хочу всю жизнь тебя любить, О грусти навсегда забыть. Ведь счастье
            — только лишь с тобой, Любви не нужно мне иной. Хочу обнять тебя
            скорей, Ведь в мире нет тебя нежней. И больше нет прекрасных слов,
            Чтоб выразить мою любовь.
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked"
                    >Very bad content</mat-checkbox
                >
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            >Хочу всю жизнь тебя любить, О грусти навсегда забыть. Ведь счастье
            — только лишь с тобой, Любви не нужно мне иной. Хочу обнять тебя
            скорей, Ведь в мире нет тебя нежней. И больше нет прекрасных слов,
            Чтоб выразить мою любовь.
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked">Essay 18+</mat-checkbox>
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            >Хочу всю жизнь тебя любить, О грусти навсегда забыть. Ведь счастье
            — только лишь с тобой, Любви не нужно мне иной. Хочу обнять тебя
            скорей, Ведь в мире нет тебя нежней. И больше нет прекрасных слов,
            Чтоб выразить мою любовь.
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked">Стих о любви</mat-checkbox>
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            >Хочу всю жизнь тебя любить, О грусти навсегда забыть. Ведь счастье
            — только лишь с тобой, Любви не нужно мне иной. Хочу обнять тебя
            скорей, Ведь в мире нет тебя нежней. И больше нет прекрасных слов,
            Чтоб выразить мою любовь.
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked"
                    >Любовь о стихе</mat-checkbox
                >
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            >Хочу всю жизнь тебя любить, О грусти навсегда забыть. Ведь счастье
            — только лишь с тобой, Любви не нужно мне иной. Хочу обнять тебя
            скорей, Ведь в мире нет тебя нежней. И больше нет прекрасных слов,
            Чтоб выразить мою любовь.
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked"
                    >Very bad content</mat-checkbox
                >
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            >Хочу всю жизнь тебя любить, О грусти навсегда забыть. Ведь счастье
            — только лишь с тобой, Любви не нужно мне иной. Хочу обнять тебя
            скорей, Ведь в мире нет тебя нежней. И больше нет прекрасных слов,
            Чтоб выразить мою любовь.
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked">Essay 18+</mat-checkbox>
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            >Хочу всю жизнь тебя любить, О грусти навсегда забыть. Ведь счастье
            — только лишь с тобой, Любви не нужно мне иной. Хочу обнять тебя
            скорей, Ведь в мире нет тебя нежней. И больше нет прекрасных слов,
            Чтоб выразить мою любовь.
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
