<!-- <div class="container">
  <div class="card">
    <div class="card-header">
      Upload your files
    </div>
    <div class="card-body">
      <h5 class="card-title">Select a file for upload:</h5>
      <input type="file" (change)="upload($event)" />
   <div *ngIf="downloadURL">
      <mat-progress-bar
          class="audio-progress-bar"
          mode="determinated"
          color = "accent">
      </mat-progress-bar>
    File uploaded: <a [href]="downloadURL">{{downloadURL}}</a>
  </div>
  
    </div>
  </div>
</div> -->
