<aside class="main__side-navigation">
  <button
    color="white"
    mat-mini-fab
    matRipple="disabled"
    aria-label="Example icon-button with a heart icon"
    matTooltip="Hot content"
    matTooltipPosition="right"
    class="add_circle_outline"
  >
    <mat-icon class="sidebar__button sidebar__button--base">whatshot</mat-icon>
  </button>

  <button
    color="white"
    mat-mini-fab
    matRipple="disabled"
    aria-label="Example icon-button with a heart icon"
    matTooltip="Music"
    matTooltipPosition="right"
    class="add_circle_outline"
  >
    <mat-icon class="sidebar__button sidebar__button--base"
      >library_music</mat-icon
    >
  </button>

  <button
    color="white"
    mat-mini-fab
    matRipple="disabled"
    aria-label="Example icon-button with a heart icon"
    matTooltip="Video"
    matTooltipPosition="right"
    class="add_circle_outline"
  >
    <mat-icon class="sidebar__button sidebar__button--base"
      >video_library</mat-icon
    >
  </button>
  <button
    color="white"
    mat-mini-fab
    matRipple="disabled"
    aria-label="Example icon-button with a heart icon"
    matTooltip="Pictures"
    matTooltipPosition="right"
    class="add_circle_outline"
  >
    <mat-icon class="sidebar__button sidebar__button--base"
      >collections</mat-icon
    >
  </button>
  <button
    color="white"
    mat-mini-fab
    matRipple="disabled"
    aria-label="Example icon-button with a heart icon"
    matTooltip="Poetry"
    matTooltipPosition="right"
    class="add_circle_outline"
  >
    <mat-icon class="sidebar__button sidebar__button--base"
      >text_fields</mat-icon
    >
  </button>
</aside>
