<mat-toolbar color="white" class="example-toolbar">
    <div class="header__heading">
        <h1 class="header__logo"><a href="#">ITaka</a></h1>
    </div>
    <div class="header__search">
        <mat-icon>search</mat-icon>
        <input placeholder="Search" />
    </div>
    <div class="header__user-tools">
        <div class="header__user-buttons">
            <button
                [matMenuTriggerFor]="menu"
                mat-icon-button
                color="accent"
                matRipple="disabled"
                aria-label="Add content header button"
            >
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="after">
                <button mat-menu-item [routerLink]="['/addText']">
                    <mat-icon>receipt</mat-icon>
                    <span>Text</span>
                </button>

                <button mat-menu-item>
                    <mat-icon>color_lens</mat-icon>
                    <span>Media</span>
                </button>
            </mat-menu>
        </div>
        <div class="header__user-info">
            <button mat-flat-button color="accent">Log in</button>
        </div>
    </div>
</mat-toolbar>
