@import url('https://fonts.googleapis.com/css?family=Heebo:400,900&display=swap');

.header {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 2;
}
h1 {
    margin-left: 8px;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #333333;
    text-transform: uppercase;
}
.header__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(37, 37, 37);
    font-weight: bold;
}
.header__search {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60vw;
    background-color: #efefef;
    border-radius: 10px;
}
.header__search > mat-icon {
    margin-right: 10px;
    font-weight: 900;
    font-size: 27px;
    color: #8e8e8e;
}
.header__search > input {
    height: 35px;
    border: none;
    flex: 1 auto;
    outline: none;
    background-color: #efefef;
}
.header__user-tools {
    width: 20vw;
    display: flex;
    justify-content: space-between;
}
.header__user-buttons > button > mat-icon {
    font-weight: 900;
}
.header__user-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__user-buttons > mat-icon {
    cursor: pointer;
}
.header__user-buttons > mat-icon:hover {
    color: gray;
}
.header__user-info {
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header__user-info > button {
    color: #ffff;
    font-weight: bold;
}
.header__logo > a {
    text-decoration: none;
    color: rgb(37, 37, 37);
}
.header__user-avatar-button {
    cursor: pointer;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    background-size: contain;
}
.header__user-avatar-button:focus {
    outline: none;
}
.header__user-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p:first-child {
        padding-right: 0.3em;
    }
}
