.mat-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    font-size: 2em;
    text-align: center;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    // background-color: rgba(255, 64, 129, 0.5);
    overflow: hidden;
}
