<div class="container">
    <form class="upload__media" [formGroup]="uploadMediaForm">
        <mat-radio-group
            aria-label="Select an option"
            class="upload__media--contentType"
        >
            <mat-radio-button
                *ngFor="let content of contentType"
                [checked]="content === 'image'"
                [value]="content"
                (change)="selectedContentType($event)"
                >{{ content }}</mat-radio-button
            >
        </mat-radio-group>
        <mat-form-field class="upload__media-title" color="accent">
            <input
                matInput
                placeholder="Title..."
                #mediaTitle
                formControlName="title"
            />
        </mat-form-field>
        <mat-form-field class="upload__media-description" color="accent">
            <textarea
                matInput
                placeholder="Description..."
                #mediaDescription
                formControlName="description"
            ></textarea>
        </mat-form-field>
        <mat-form-field class="upload__media-file" color="accent">
            <ngx-mat-file-input
                formControlName="file"
                placeholder="Сlick to select file"
                (change)="onDrop($event.target.files)"
                accept="{{ selectedContent }}/*"
            ></ngx-mat-file-input>
        </mat-form-field>
    </form>

    <mat-card>
        <div
            class="drag-and-drop-zone"
            itaDragAndDropZone
            (hovered)="toggleHover($event)"
            (dropped)="onDrop($event)"
            [class.hovering]="isHovering"
        >
            <mat-card-title>Or drop your file here</mat-card-title>
        </div>
    </mat-card>

    <div class="upload__media--progress-bar" *ngFor="let file of files">
        <ita-progress-bar
            [file]="file"
            [title]="mediaTitle.value"
            [description]="mediaDescription.value"
            [contentType]="selectedContent"
        ></ita-progress-bar>
    </div>
</div>
