<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked"
                    >Земфира - Блюз</mat-checkbox
                >
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            ><audio controls src="https://is.gd/qbluOc"></audio>
            <p>
                Венде́тта — четвёртый студийный альбом российской певицы Земфиры.
                Он был выпущен 1 марта 2005 года и стал первым релизом певицы в
                сольном статусе. Его запись проходила в течение 2004 и 2005
                годов в сотрудничестве с Игорем Вдовиным, Корнеем, Владом
                Креймером, Олегом Пунгиным и Юрием Цалером.
            </p>
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked"
                    >Bon Iver - Holocene</mat-checkbox
                >
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            ><audio controls src="https://is.gd/nLUXgu"></audio>
            <p>
                Венде́тта — четвёртый студийный альбом российской певицы Земфиры.
                Он был выпущен 1 марта 2005 года и стал первым релизом певицы в
                сольном статусе. Его запись проходила в течение 2004 и 2005
                годов в сотрудничестве с Игорем Вдовиным, Корнеем, Владом
                Креймером, Олегом Пунгиным и Юрием Цалером.
            </p>
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="blog__checked"
                    >Daughter - Youth</mat-checkbox
                >
                <mat-icon class="icons">delete</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content
            ><audio controls src="https://is.gd/wMHPdQ"></audio>
            <p>
                Венде́тта — четвёртый студийный альбом российской певицы Земфиры.
                Он был выпущен 1 марта 2005 года и стал первым релизом певицы в
                сольном статусе. Его запись проходила в течение 2004 и 2005
                годов в сотрудничестве с Игорем Вдовиным, Корнеем, Владом
                Креймером, Олегом Пунгиным и Юрием Цалером.
            </p>
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
