<div class="container">
  <mat-card class="form">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form [formGroup]="authForm" (ngSubmit)="getRawData()">
      <mat-card-content>
        <mat-form-field class="form-group" appearance="outline">
          <mat-label>FirstName</mat-label>
          <input matInput type="text" formControlName="firstName"/>
        </mat-form-field>
        <mat-form-field class="form-group" appearance="outline">
          <mat-label>LastName</mat-label>
          <input matInput type="text" formControlName="lastName" />
        </mat-form-field>
        <mat-form-field class="form-group" appearance="outline">
          <mat-label>UserName</mat-label>
          <input matInput type="text" formControlName="userName" />
        </mat-form-field>
        <mat-form-field class="form-group" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
        </mat-form-field>
        <mat-form-field class="form-group" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">REGISTER</button>
        <div class="message">
          <a [routerLink]="['/login']" >Already registered? Sign In</a>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
