.card__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}
.mat-card-title {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 1vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}
.card__video--videoplayer {
    width: 110%;
    height: 215px;
}
.card__video--icons {
    width: 100%;
}
