<mat-card class="card__video" (click)="goCardDetail(this.postId)">
    <mat-video
        class="card__video--videoplayer"
        [autoplay]="false"
        [preload]="false"
        [fullscreen]="true"
        [download]="true"
        color="accent"
        (click)="stopEvent($event)"
    >
        <source matVideoSource [src]="url" type="video/mp4" />
    </mat-video>
    <mat-card-title>
        {{ title }}
    </mat-card-title>
    <div class="card__video--icons" (click)="stopEvent($event)">
        <ita-card-buttons
            [postId]="postId"
            [likes]="likes"
            [dislikes]="dislikes"
        ></ita-card-buttons>
    </div>
</mat-card>

