<mat-card class="card__video"
    
>
    <mat-video
        class="card__video--videoplayer"
        [autoplay]="false"
        [preload]="false"
        [fullscreen]="true"
        [download]="true"
        color="accent"
    >
        <source matVideoSource [src]="url" type="video/mp4" />
    </mat-video>
    <mat-card-title>
        {{ title }}
    </mat-card-title>
    <div class="card__video--icons">
        <ita-card-buttons></ita-card-buttons>
    </div>
</mat-card>
 <!-- (click) = "goCardDetail (this.postId)" -->