<mat-card class="card__video">
    <mat-video
        [autoplay]="false"
        [overlay]="true"
        [preload]="false"
        [fullscreen]="true"
        [download]="false"
        color="accent"
        style="text-align: center"
    >
        <source
            matVideoSource
            src="http://techslides.com/demos/sample-videos/small.mp4"
            type="video/mp4"
        />
    </mat-video>
    <mat-card-title>
        The title of the video
    </mat-card-title>
    <button mat-icon-button class="more__icon">
        <mat-icon>more_horiz</mat-icon>
    </button>
</mat-card>
