.card__video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mat-card-title {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 1vh;
}
.card__video--videoplayer {
    width: auto;
    height: 160px;
}
.card__video--icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mat-icon-button:hover {
    color: #ff4081;
}
